.foto_back{
    background: url(https://pibig.info/uploads/posts/2022-12/thumbs/1670045635_1-pibig-info-p-chernoe-zvezdnoe-nebo-oboi-oboi-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.foto1{
    background: url(https://new-science.ru/wp-content/uploads/2020/03/4848-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.foto2{
    background: url(https://universetoday.ru/wp-content/uploads/2018/10/Mercury.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.foto3{
    background: url(https://naukatv.ru/upload/files/shutterstock_418733752.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.foto4{
    background: url(https://cdn.iz.ru/sites/default/files/styles/900x506/public/news-2018-12/20180913_zaa_p138_057.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.foto5{
    background: url(https://nnst1.gismeteo.ru/images/2020/07/shutterstock_1450308851-640x360.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slider{
    margin: 10vh auto;
    height: 80vh;
    width: 60vw;
}
