.error{
    border: 3px solid red;
}

.valid {
    border: 3px solid green;
}

#inp{
    margin-top: 10px;
}
.inpBack{
    background-color: rgba(1, 255, 51, 0.3);
}

.inpValid:focus{
    outline-color:green;
}

.spanContainer{
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
}
span{
    width: fit-content;
    height: fit-content;
}

.border{
    border: 1px solid rgb(8, 0, 255);
}
.erDiv{
    color: red;
}