*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4{
    margin-left:10%;
    padding: 2px;
}

table{
    width: 80%;
    margin: auto;
    border: 2px solid black;
    border-collapse:collapse;
}

td, th{
    border: 2px solid black;
}