*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* article start*/
    .articleContainer{
        background-color: rgba(0, 0, 255, 0.225);
        height: 30vh;
        width: 100%;
    }
        article{
            height: 80%;
            width: 80%;
            background-color: rgba(43, 226, 165, 0.758);

            margin: 2.5% auto;
        }

/* article end*/


/*coments start */
    .coments{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainContainer{ 
        width: 100%;
        height: 100vh;    

        display: flex;
        flex-wrap: wrap;
    }
    .commentLogo{
        margin: 1rem auto auto 1rem ;
    }

        .comentContainer {
            border: 2px rgb(124, 120, 120) solid;

            width: 80%;
            height: fit-content;
            min-height: 10rem;

            margin: 1rem auto 0 auto; 
        }
            .comentBody {
                display: flex;
                flex-direction: column;
                height: 100%;
                background-color: rgba(111, 100, 121, 0.411);
            }
            .comentName {
                display: flex;
                justify-content: space-between;

                margin-top: 3%;
                min-height: 20%;
            }
                .comentName div{
                    display: flex;
                    margin: 0 1rem 0 1rem;
                }

            .comentContent{
                display: flex;
                justify-content: center;
                align-items: center;

                font-size: 14px;

                height: 50%;
                width: 90%;
                margin: auto;
            }

            .answer{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20%;
            }
            .answer a{
                height: fit-content;
                width: fit-content;
            }
/* coments end */

/* pagination start */

    .pagination{
        margin: 1rem auto;
        width: 100%;
    }
    .pagination input{
        margin: 1rem auto;
    }

/* pagination end */