
.inv{
    display: none;
}
.toopingDiv{
    display: flex;
    height: fit-content;
    width: fit-content;
    background-color: greenyellow;
}

.selectWraperSause, .selectWraperTopping{
    display: flex;
    justify-content: space-between;

    border: solid 1px black;
    border-radius: 3px;

    margin-top: 5px;
}

.reselect{
    margin-left: 5px;
}

.leav{
    position: absolute;
}

.valid{
    border: solid 4px green;
    border-radius: 3px;
}

.novalid{
    border: solid 4px rgba(255, 0, 0, 0.647);
    border-radius: 3px;
}


