*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 50%;
    height: 80vh;

    margin: auto;

    border: 3px solid red;
}

.info-container{
    min-height: 25vh;
    min-width: 15%;
    border: 3px solid red;
    margin: auto;
}

.info-container div{
    width: fit-content;
    margin: 6px auto 6px auto;

    border: 1px solid rebeccapurple;

}