*{
    box-sizing: border-box;
    text-align: center;
}
header{
    margin: 10px auto 10px auto;
}
article{
    margin: 10px auto 10px auto;
}
footer{
    margin: 10px auto 10px auto;    
}

.header1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}
.nav1{
    height: 40px;
    width: 89%;
    margin: 10px auto 10px auto;   
}

.headerLeft{
    display: flex;
    justify-content: center;
}
.headerRight{
    display: flex;
    justify-content: center;
}

.section{
    display: flex;
    justify-content: space-between;
    height: 80vh;
    width: 90%;
    margin: 0 auto;
}

.sectionLeft{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0 0 0;
    width: 63%;
}
.sectionRight{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin: 10px 0 0 0;
    width: 35%;
}

.navRight{
    height: 90%;
    margin: 10px auto 10px auto; 
}

.ar1{
    width: 90%;
    height: 16%;
    margin:10px auto 0 auto;
    background-color: rgba(0, 255, 21, 0.5);
}

.arInContainer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 16%;
    margin: 10px auto 0 auto;
}
.arIn{
    margin: 0;
    width: 48%;
    height: 100%;
    background-color: rgba(0, 255, 21, 0.5);
}

.lastFooter{
    display: block;
    height: 40px;
    width: 90%;
    background-color:rgba(185, 191, 196, 0.5);
}