@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Padauk:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: #001124;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .leftContainer {
        display: flex;
        justify-content: center;
        width: 60%;
    }
        .leftContainer img{
            width: fit-content;
        }


    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-bottom: 3rem;
    }

        .logo{
            margin-bottom:0rem;
        }
        .logo h2{
            font-size: 45px;
            font-family: 'DM Serif Display', serif;
            font-style: normal;
            font-weight: 400;
        }

        .inputsContainer{
            display: flex;
            flex-direction: column;
            width: 50%;
        }

            .lables{
                margin:1rem auto 0 0;

                font-family: 'Padauk', sans-serif;
                font-style: normal;
                font-weight: 400;
            }
            .inputs{
                color: #001124;
                max-width: 100%;
                height: 2rem;
            }

        .linkContainer{
            margin: 2rem auto 0 0;

            font-family: 'Padauk', sans-serif;
            font-style: normal;
            font-weight: 400;
        }

        .btContainer{
            display: flex;
            margin-top: 1rem;
            height: 1.5rem;
            width: 50%;
        }
            .submit{
                height: 2rem;
                width: 50%;

                margin: auto;

                background-color: #015FC7;

                font-size: 20px;

                border: none;
                border-radius: 3px;

                font-family: 'Padauk', sans-serif;
                font-style: normal;
                font-weight: 700;
            }
            .submit:active{
                transform:scale(0.9);
                box-shadow: 0px 0px 10px rgb(0, 132, 255);
            }

.valid{
    background-color: rgba(0, 255, 0, 0.611);
}
.noValid{
    background-color: rgba(255, 0, 0, 0.607);
}
            