@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Padauk:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    color: white;
}
a{
    color:#499FFE;
    text-decoration: none;
}

body{
    background-color: #001124;
    height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .leftContainer {
        display: flex;
        justify-content: left;
        width: 50%;
    }
        .leftContainer img{
            width: 100%;
        }

    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-bottom: 3rem;
    }

        .logo{
            margin-bottom:2rem;
        }
        .logo h2{
            font-size: 45px;
            font-family: 'DM Serif Display', serif;
            font-style: normal;
            font-weight: 400;
        }

        .inputsContainer{
            display: flex;
            flex-direction: column;
        }

            .loginLable,.passLable{
                margin:1rem auto 0 0;

                font-family: 'Padauk', sans-serif;
                font-style: normal;
                font-weight: 400;
            }
            .loginInp,.paswordInp{
                color: #001124;
                width: 60%;
                height: 2rem;
            }

        .linkContainer{
            margin: 2rem auto 0 0;

            font-family: 'Padauk', sans-serif;
            font-style: normal;
            font-weight: 400;
        }

        .btContainer{
            margin: 1rem auto 0 0;
            height: 1.5rem;
            width: 100%;
        }
            .loginBt{
                height: 2rem;
                width: 25%;
                background-color: #015FC7;

                font-size: 20px;

                border: none;
                border-radius: 3px;

                font-family: 'Padauk', sans-serif;
                font-style: normal;
                font-weight: 700;
            }
            .loginBt:active{
                transform:scale(0.9);
                box-shadow: 0px 0px 10px rgb(0, 132, 255);
            }
            





