*{
    box-sizing: border-box;
}
.divCube{
    display: flex;
    margin: 0 0 5px 5px;
    cursor: pointer;
    border: 3px solid;
    border-radius: 50%;
}
.wrapers{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}