div{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    height: 2rem;
    margin: 10px auto 0 auto;
}
div:nth-child(odd){
    background-color: rgb(119, 229, 130);    
}
div:nth-child(even){
    background-color: rgb(106, 219, 251);    
}
.app_title{
    margin-top:1.5rem;
}

div[class^=app_]:nth-child(odd){
    background-color: rgb(149, 112, 236);
}
div[class^=app_]:nth-child(even){
    background-color: rgb(231, 95, 238);
}