*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}


.mainContainer{

    width: 100%;
    height: fit-content;    

    display: flex;
    flex-wrap: wrap;
}

    .container{
        width: 45%;
        height: fit-content;

        border: solid 2px black;

        display: flex;
        align-content: center;
        flex-wrap: wrap;


        margin: 1rem auto ;
    }

        .character{
            width: 45%;
            margin: 4% auto 4% auto;
        }
            .charImg{
                width: 100%;
                height: fit-content;
            }

        .cardInfo{
            background-color: rgba(172, 31, 200, 0.264);
            width: 45%;
            margin: 4% auto 4% auto;
            overflow: auto;            
        }

/* loader */

.loader_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #484a4647;

    width: 100%;
    height: 100%;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #ff00ff;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #73ff00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
  
.hiden{
    display: none;
}


